@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <h1 class="text-center mb-4">Air Cargo Monitor</h1>

    <div class="row">
        <!-- Cargos Section -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h4 class="card-title text-primary d-flex justify-content-center ">Cargos</h4>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">When creating a new Cargo, it must be attached to an existing Warehouse.</li>
                        <li class="list-group-item">Cargo cannot exist outside a Warehouse or an Airplane.</li>
                        <li class="list-group-item">Users can attach a Cargo to an Airplane after creation, if desired.</li>
                        <li class="list-group-item">You can attach Cargo from a specific Warehouse only to Airplanes that are attached to this specific Warehouse</li>
                        <li class="list-group-item">You can return Cargo from an Airplane to a specific Warehouse that is attached to this Airplane</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Airplanes Section -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h4 class="card-title text-success d-flex justify-content-center">Airplanes</h4>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">When creating a new Airplane, it must be attached to an existing Warehouse.</li>
                        <li class="list-group-item">Airplanes cannot exist without being attached to a Warehouse.</li>
                        <li class="list-group-item">By default Airplane.CurrentLoad = 0</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Warehouses Section -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h4 class="card-title text-warning d-flex justify-content-center">Warehouses</h4>
                    <hr/>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Users can add new Warehouses as needed.</li>
                        <li class="list-group-item">New Warehouses are empty by default and have no attachments.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
